.form-title
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;

    width: 100%;

    border-bottom: 1px solid #CCCCCC;
}

.form-title-content
{
    display: flex;
    justify-content: center;
    align-items: center;

    h2
    {
        margin-bottom: 5px;
        text-align: center;
    }

    svg
    {
        font-size: 25px;
        margin-right: 5px;
    }
}