.login-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 137px);    
}

.login-form
{
    box-shadow: $shadow-1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 50%;

    @media (max-width: 768px)
    {
        width: 100%;
    }

    label
    {
        margin-top: 20px;
        margin-bottom: 5px;

        &:first-child
        {
            margin-top: 0px;
        }
    }

    .login-text-input
    {
        outline: none;
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        border: 2px solid $blue-1;

        &:focus
        {
            border: 2px solid $auxiliar-5;
        }
    }

    button
    {
        margin-top: 10px;
        background-color: $blue-1;
        color: white;
        padding: 12px;
        border-radius: 8px;

        &:hover
        {
            transition: 150ms ease-in;
            background-color: $orange-1;
        }
    }

    select
    {
        border: 2px solid $blue-1;
        padding: 5px;
        border-radius: 8px;
    }
}