$blue-1: #00426A;
$blue-2: #376986;
$blue-3: #698ea4;
$blue-4: #9bb4c3;
$blue-5: #cdd9e1;
$blue-6: #00426a;

$orange-1: #B86125;
$orange-2: #c98153;
$orange-3: #d6a17e;
$orange-4: #e4c0a9;
$orange-5: #f1e0d4;

$gray-1: #E6E6E6;
$gray-2: #777C81;
$gris-3: #e1e0de;
$gris-4: #ebeae9;
$gris-5: #f5f5f4;

$dark-1: #1D252D;
$dark-2: #495057;
$dark-3: #777c81;
$dark-4: #a4a8ab;

$red-1: #ff0000;
$red-2: #d40000;
$red-3: #ff6767;
$red-4: #ffa8a8;

$auxiliar-1: #4070B6;
$auxiliar-2: #61B0CC;
$auxiliar-3: #81C6CC;
$auxiliar-4: #ECB06F;
$auxiliar-5: #F7C46E;

$green-1: #00b353;

$navbar-heigth: 40px;
$header-height: 35px;
$filler-height: 96px;

$shadow-1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadow-20: rgb(38, 57, 77) 0px 20px 30px -10px;
$shadow-82: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

