$blue-1: #00426A;
$blue-2: #376986;
$blue-3: #698ea4;
$blue-4: #9bb4c3;
$blue-5: #cdd9e1;
$blue-6: #00426a;

$orange-1: #B86125;
$naranja-2: #c98153;
$naranja-3: #d6a17e;
$naranja-4: #e4c0a9;
$naranja-5: #f1e0d4;

$gray-1: #E6E6E6;
$gray-2: #777C81;

$dark-1: #1D252D;
$dark-2: #495057;
$dark-3: #777c81;
$dark-4: #a4a8ab;

$auxiliar-1: #4070B6;
$auxiliar-2: #61B0CC;
$auxiliar-3: #81C6CC;
$auxiliar-4: #ECB06F;
$auxiliar-5: #F7C46E;

$green-1: #00b353;

$navbar-heigth: 40px;
$header-height: 35px;
$filler-height: 96px;